{% extends 'musiques/baseModele.html' %}
{% block title %}
<title>Liste des artistes</title>
{% endblock %}
    {% block contenu %}
    <table id='listeartiste'class="display" width="100%" cellspacing="0">
            <thead>
                    <tr>
                        <th>Artiste</th>
                        <th>Détails</th>
                        <th>Modification</th>
                        <th>Suppression</th>
                    </tr>
                </thead>
                <tbody>
    {% for artiste in object_list %}
       <tr> <td>{{ artiste.nom }}</td><td><a class="btn btn-info" href="{% url 'musiques:artiste-detail' pk=artiste.id %}"> Détails <span class="glyphicon glyphicon-zoom-in"></span></a></td><td><a class="btn btn-warning" href="{% url 'musiques:artiste-update' pk=artiste.id %}"> Modifier <span class="glyphicon glyphicon-pencil"></span></a></td><td><a class="btn btn-danger" href="{% url 'musiques:artiste-delete' pk=artiste.id %}"> Supprimer <span class="glyphicon glyphicon-remove"></span></a></td></tr>
    {% endfor %}
        </tbody>    
    </table>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>$(document).ready(function() {
        $('#listeartiste').DataTable();
    } );</script>
{% endblock %}