{% extends 'musiques/baseModele.html' %}
{% block title %}
<title>Suppression : {{object.nom}}</title>
{% endblock %}
    {% block contenu %}
    <div class="alert alert-danger">
            <strong>Attention !</strong> En cliquant sur confirmer vous allez effacer {{artiste.nom}} de la base de donnée
          </div>
          
    <form class="text-center" action="" method="post">{% csrf_token %}
            
        <p>Voulez-vous vraiment supprimer "{{ artiste.nom }}"?</p>
        <input class="btn btn-danger" type="submit" value="Confirmer" />
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
{% endblock %}