{% extends 'musiques/baseModele.html' %}
{% block title %}
<title>Modification : {{object.nom}}</title>
{% endblock %}
    {% block contenu %}
    <div class="text-center">
     <h1>Modifier la musique </h1>
</br>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-default" type="submit" value="Valider" />
        </form>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}