<!DOCTYPE html>
<html lang="fr" >
    <head>
        <meta charset="utf-8" >
        <title>
            {% block title %}
            {% endblock %}
        </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>
    <body>
        <header>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                    <div class="container-fluid">
                                      <div class="navbar-header">
                                        <a class="navbar-brand" href="#">Gestion Musiques <span class="glyphicon glyphicon-music"></span></a>
                                      </div>
                                      <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Musiques
                                          <span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="{%url 'musiques:morceau-ajout' %}">Ajout</a></li>
                                            <li><a href="{%url 'musiques:morceau-liste' %}">Liste</a></li>
                                          </ul>
                                        </li>
                                        <li class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Artiste
                                                <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                  <li><a href="{%url 'musiques:artiste-ajout' %}">Ajout</a></li>
                                                  <li><a href="{%url 'musiques:artiste-liste' %}">Liste</a></li>
                                            </ul>
                                        </li>
                                      </ul>
                                    </div>
                                  </nav> 
                    </header>
                    <section>
                        {% block contenu %}
                        {% endblock %}
                    </section>   
  
   
        <footer>
            <em>Copyright AZICKLER, NCARRARA 2017</em>
        </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
