{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr" >
    <head>
        <meta charset="utf-8" >           
            {% block title %}
            {% endblock %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    </head>
    <body>
        <header>
                    <nav class="navbar navbar-expand-lg navbar-inverse bg-light">
                                    <div class="container-fluid">
                                      <div class="navbar-header">
                                        <a class="navbar-brand" href="#">Gestion Musiques <span class="glyphicon glyphicon-music"></span></a>
                                      </div>
                                      <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Musiques
                                          <span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="{%url 'musiques:morceau-ajout' %}">Ajout</a></li>
                                            <li><a href="{%url 'musiques:morceau-liste' %}">Liste</a></li>
                                          </ul>
                                        </li>
                                        <li class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Artiste
                                                <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                  <li><a href="{%url 'musiques:artiste-ajout' %}">Ajout</a></li>
                                                  <li><a href="{%url 'musiques:artiste-liste' %}">Liste</a></li>
                                            </ul>
                                        </li>
                                      </ul>
                                    </div>
                                  </nav> 
                    </header>
                    <section>
                        {% block contenu %}
                        {% endblock %}
                    </section>   
                    
   
        <footer class="text-center">
           <em> <span class="glyphicon glyphicon-copyright-mark"></span> ZICKLER Amaël, CARRARA Nicolas LP2017-2018</em> <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
        </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    </body>
    <!-- ZICKLER Amaël, CARRARA Nicolas LP2017-2018 -->
</html>
