{% extends 'musiques/baseModele.html' %}
{% block title %}
<title>Ajout d'une musique</title>
{% endblock %}
    {% block contenu %}
        
        <form class="text-center" action="" method="post">{% csrf_token %}
                <h1>Ajout d'un morceau</h1>
            <div class="form-group">
                {{ form.as_p }}
                <input class="btn btn-success" type="submit" value="Ajouter" />
            </div>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}