{% extends 'musiques/baseModele.html' %}
{% block title %}
<title>Détails : {{object.titre}}</title>
{% endblock %}
    {% block contenu %}
    <div class="container">
    <div class="text-center ">
        <h1>Detail morceau : </h1>
        <dl>
            <dt>Titre :</dt>
            <dd>- {{object.titre}}</dd>
            <dt>Artiste :</dt>
            <dd>- {{object.artiste.nom}}</dd>
        </dl>    
        <p><a class="btn btn-default" href="{% url 'musiques:morceau-liste' %}">Retour</a></p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% endblock %}

